*{
  padding: 0 ;
  margin: 0 ;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Open Sans" , "Helvetica Neue" , "Arial" , sans-serif ;
}

ol , ul {
  list-style: none ;
}

/* custom properties */
:root {
  font-size: var(--size-body1) ;

  /* colors*/
  --primary: #0274EE ;
  --primary-variant: #014895 ;
  --secondary: #74EE02 ;
  --secondary-variant: #489501 ;
  --background: #FFF ;
  --surface: #FFF ;
  --error: #EE0274 ;
  --on-primary: #FFF ;
  --on-secondary: #000 ;
  --on-background: #000 ;
  --on-surface: #000 ;
  --on-error: #000 ;

  /* typography */
  --typeface: "Arial" ;
  --typeface-bold: "Arial Black" ;
  --typeface-narrow: "Arial Narrow" ;

  --size-headline1: calc( 96 * 0.0625rem ) ;
  --size-headline2: calc( 60 * 0.0625rem ) ;
  --size-headline3: calc( 48 * 0.0625rem ) ;
  --size-headline4: calc( 34 * 0.0625rem ) ;
  --size-headline5: calc( 24 * 0.0625rem ) ;
  --size-headline6: calc( 20 * 0.0625rem ) ;
  --size-subtitle1: calc( 16 * 0.0625rem ) ;
  --size-subtitle2: calc( 14 * 0.0625rem ) ;
  --size-body1: calc( 16 * 0.0625rem ) ;
  --size-body2: calc( 14 * 0.0625rem ) ;
  --size-button: calc( 14 * 0.0625rem ) ;
  --size-caption: calc( 12 * 0.0625rem ) ;
  --size-overline: calc( 14 * 0.0625rem ) ;

  /*
  letter spacing calculation
  letter spacing = (letter spacing factor / font size in pixels)
  from the material design typography guidelines
   */
  --spacing-headline1: calc( -1.5 / 96 ) ;
  --spacing-headline2: calc( -0.5 / 60) ;
  --spacing-headline3: calc( 0 / 48 ) ;
  --spacing-headline4: calc( 0.25 / 34 ) ;
  --spacing-headline5: calc( 0 / 24 ) ;
  --spacing-headline6: calc( 0.15 / 20 ) ;
  --spacing-subtitle1: calc( 0.15 / 16 ) ;
  --spacing-subtitle2: calc( 0.1 / 14 ) ;
  --spacing-body1: calc( 0.5 / 16 ) ;
  --spacing-body2: calc( 0.25 / 14 ) ;
  --spacing-button: calc( 1.25 / 12 ) ;
  --spacing-caption: calc( 0.4 / 12 ) ;
  --spacing-overline: calc( 1.5 / 14 ) ;
}

body {
  color: var(--on-background) ;
  background-color: var(--background) ;
}

/* body::-webkit-scrollbar {
  width: 0.5rem ;
}

body::-webkit-scrollbar-track {
  background: lightGrey;
}

body::-webkit-scrollbar-thumb {
  background: var(--secondary-variant) ;
} */

main {

}

header {
  height: 80vh ;
  background-color: var(--primary-variant) ;
}

/* grid containers */
.container--grid {
 display: grid ;
 text-align:  center;
}

/* flex containers */
.container--flex {
  display: flex ;
  justify-content: center ;
  align-items: center ;
}

/* all lists */
.list {

}

/* card */
.card {
  flex-direction: column ;
  background-color: lightGray ;
  border: 1px solid #000 ;
  margin: 1rem ;
  overflow-wrap: break-word;
}

/* small card */
.card--small  {
  min-width: 150px ;
  min-height: 150px ;
}

/* medium card */
.card--medium {
  min-width: 200px ;
  min-height: 200px ;}

/* large card */
.card--large  {


}

/* card collections */
.cards {
grid-auto-flow: column;
}

/* small card collections */
.cards--small  {
  grid-template-columns: repeat( auto-fiil , minmax( 150px , 1fr )) ;
  grid-template-rows: repeat( auto-fiil , minmax( 150px , 1fr )) ;
}

/* medium card collections */
.cards--medium {
  grid-template-columns: repeat( auto-fiil , minmax( 200px , 1fr )) ;
  grid-template-rows: repeat( auto-fiil , minmax( 200px , 1fr )) ;
}

/* large card collections */
.projects__list {
  grid-template-columns: repeat(auto-fit, 300px);
}

/* all card info */
.card-info {
  padding: 16px ;
  flex-direction: column;
  flex-grow: 1;
}

/* all card heading */
.card-heading {

}

/* all card text */
.card-text {

}

/* all navbars */
.navbar {
  grid-template-areas:
    " logo . nav ";
  grid-template-columns: maxcontent auto maxcontent ;
  justify-content: space-between;
  background-color: var(--primary) ;
  width: 100vw ;
  height: 3rem ;
  position: fixed ;
}

.navbar__nav {
  grid-area: nav ;
  grid-gap: 2rem;
  justify-content: space-around;
}

.header {
}

.header__list {

}

.header__list-item {

}

.header__link {

}

.menu__button {

}



.logo__link {
  grid-area: logo ;
}

.logo__image {

}

.about {
  grid-area: about ;
}

.about__heading {

}

.about__text {

}

.about__more-text {

}

.about__button {

}

.interests {

}

.interests__heading {

}

.interests__text {

}

.interests__list {

}

.interests__list-item {

}

.interests__card {

}

.interests__card-info {

}

.interests__card-heading {

}

.interests__card-text {

}

.interests__card-image {

}

.services {
  grid-area: services ;
}

.services__heading {

}

.services__text {

}

.services__list {

}

.services__list-item {

}

.services__card {

}

.services__card-info {

}

.services__card-heading {

}

.services__card-text {

}

.services__card-image {

}

.skills {

}

.skills__list {

}

.skills__list-item {

}

.skills__card {

}

.skills__card-info {

}

.skills__card-heading {

}

.skills__card-text {

}

.skills__card-image {

}

.projects {
  grid-area: projects ;
}

.projects__heading {

}

.projects__text {

}

.projects__list {

}

.projects__list-item {

}

.projects__card {

}

.projects__card-info {

}

.projects__card-heading {

}

.projects__card-text {

}

.projects__card-image {

}

.contact {
  grid-area: contact ;
}

.contact__heading {

}

.contact__text {

}

.contact__card {

}

.contact__dictionary {

}

.contact__term {

}

.contact__definition }{

}

.contact__message {

}

.contact__form {

}
